.DS_Store
.nyc_output

node_modules

out

demo/dbRinkeby.json
demo/dbMainNet.json
demo/dbKovan.json
demo/dbRopsten.json
demo/dbTest.json
demo/wallets.json
demo/testWallets.json

build/contracts/ERC20Interface.json
build/contracts/ERC20.json
build/contracts/IERC20.json
build/contracts/SafeMath.json