# folders
.idea/
.nyc_output/
.vscode/
build/
coverage/
coverageEnv/
docs/
lib/
node_modules/

# files
.DS_Store
.env
*.log
coverage.json
lerna-debug.log*
npm-debug.log*
scTopics
yarn-debug.log*
yarn-error.log*

# packages
packages/protocol/demo/dbDevelopment.json
packages/protocol/demo/dbKovan.json
packages/protocol/demo/dbMainNet.json
packages/protocol/demo/dbRinkeby.json
packages/protocol/demo/dbRopsten.json
packages/protocol/demo/dbTest.json
packages/protocol/demo/testWallets.json
packages/protocol/demo/wallets.json
packages/weierstrudel/debug.txt
packages/weierstrudel/log.txt
packages/weierstrudel/js_snippets/hashToPoint.js
