# folders
.0x-artifacts/
.idea/
.nyc_output/
.vscode/
build/
coverage/
coverageEnv/
dist/
docs/
lib/
node_modules/

# files
.DS_Store
.env
*.log
coverage.json
lerna-debug.log*
npm-debug.log*
scTopics
yarn-debug.log*
yarn-error.log*

# packages
packages/aztec.js/package-lock.json
packages/contract-addresses/package-lock.json
packages/contract-artifacts/package-lock.json
packages/dev-utils/package-lock.json
packages/protocol/package-lock.json
packages/extension/.ignore
packages/extension/=
packages/extension/src/background/contracts/IZkAsset.json
packages/extension/src/background/contracts/IZkAsset.json
packages/extension/src/background/contracts/AZTECAccountRegistry.json
packages/extension/src/background/contracts/AZTECAccountRegistry.json
packages/extension/src/background/contracts/IZkAsset.json
packages/extension/src/background/contracts/ACE.json
