# folders
.0x-artifacts/
.nyc_output/
.vscode/
build/
coverage/
docs/
lib/
node_modules/

# files
.releaserc
package.json

# packages
packages/contract-addresses/addresses/
packages/contract-artifacts/artifacts/
