{
    "branch": "master",
    "plugins": [
        ["@semantic-release/commit-analyzer", {
              "preset": "angular",
              "releaseRules": [
                  {
                      "type": "docs",
                      "release": "patch"
                  }
              ]
        }],
        ["@semantic-release/release-notes-generator", {
                "preset": "angular"
        }],
        ["@semantic-release/npm"],
        ["@semantic-release/git", {
                "assets": false
        }],
        "@semantic-release/github"
    ]
}
