{
    "branch": "feat-build-pipeline",
    "plugins": [
        ["@semantic-release/commit-analyzer", {
              "preset": "angular",
              "releaseRules": [
                  {
                      "type": "docs",
                      "release": "patch"
                  }
              ]
        }],
        ["@semantic-release/release-notes-generator", {
                "preset": "angular"
        }],
        ["@semantic-release/exec", {
            "publishCmd": "../monorepo-scripts/aws/aws-bundle-deploy.sh",
        }]
    ]
}
