@import '../../styles/variables';

.block {
  position: relative;

  &.signed {
    background: map-get($custom-color-map, 'grass-green');
  }
}

.signed-message {
  position: absolute;
  left: 2000px;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  transition-delay: 0.2s;
}

.signed {
  .signed-message {
    position: relative;
    left: 0;
    opacity: 1;
  }
}
