@import '../../styles/variables';

.code {
  display: block;
  font-family: $code-font-family;
  font-size: map-get($code-font-size-map, 'xxs');
  line-height: map-get($line-height-map, 'xxs');
  color: $default-text-color;
  user-select: text;
  overflow-x: auto;
}

.attr {
  color: map-get($color-map, 'primary-light');
}

.str {
  color: rgb(164, 194, 68);
}

.val {
  color: map-get($color-map, 'purple');
}
