@import '../../styles/variables';

$asset-icon-size-map: (
  'm': 32px,
  'l': 48px,
);

.icon {
    color: map-get($color-map, 'white');
}

.mock-icon {
    display: inline-block;
    background: map-get($color-map, 'white-lighter');
    color: map-get($color-map, 'white');
    border-radius: 100%;
}

@each $key, $size in $asset-icon-size-map {
  .size-#{$key} {
    width: $size;
    height: $size;
    line-height: $size;
  }
}
