@import './variables';

:global(#aztec-popup-ui-app) {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: $default-font-family;
  text-align: center;
}

$default-font-family: 'Gill Sans', sans-serif;
:global(.text-code) {
  font-family: $code-font-family;
}

@font-face {
  font-family: 'Gill Sans';
  font-weight: 300;
  font-style: normal;
  src: url('./fonts/Gill Sans Nova Light.woff');
  src: url('./fonts/Gill Sans Nova Light.woff') format('woff');
}

@font-face {
  font-family: 'Gill Sans';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Gill Sans Nova.woff');
  src: url('./fonts/Gill Sans Nova.woff') format('woff');
}

@font-face {
  font-family: 'Gill Sans';
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/Gill Sans Nova Medium.woff');
  src: url('./fonts/Gill Sans Nova Medium.woff') format('woff');
}

@font-face {
  font-family: 'Gill Sans';
  font-weight: 600;
  font-style: normal;
  src: url('./fonts/Gill Sans Nova Bold.woff');
  src: url('./fonts/Gill Sans Nova Bold.woff') format('woff');
}

@font-face {
  font-family: 'Gill Sans';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/Gill Sans Nova Heavy.woff');
  src: url('./fonts/Gill Sans Nova Heavy.woff') format('woff');
}
