@import './variables';

:global(#app) {
    width: 100%;
    height: 100%;

    &:global(.default-popup) {
        width: $popup-width;
        height: $popup-height;
    }
}

:global(.text-code) {
    font-family: $code-font-family;
}

@font-face {
    font-family: 'Cerebri Sans';
    font-weight: 300;
    font-style: normal;

    src: url('./fonts/cerebrisans/cerebrisans-light.woff') format('woff'),
      url('./fonts/cerebrisans/cerebrisans-light.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Cerebri Sans';
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/cerebrisans/cerebrisans-regular.eot');
    src: url('./fonts/cerebrisans/cerebrisans-regular.eot?#iefix')
        format('embedded-opentype'),
      url('./fonts/cerebrisans/cerebrisans-regular.woff') format('woff'),
      url('./fonts/cerebrisans/cerebrisans-regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Cerebri Sans';
    font-weight: 500;
    font-style: normal;

    src: url('./fonts/cerebrisans/cerebrisans-book.eot');
    src: url('./fonts/cerebrisans/cerebrisans-book.eot?#iefix')
        format('embedded-opentype'),
      url('./fonts/cerebrisans/cerebrisans-book.woff') format('woff'),
      url('./fonts/cerebrisans/cerebrisans-book.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Cerebri Sans';
    font-weight: 600;
    font-style: normal;

    src: url('./fonts/cerebrisans/cerebrisans-medium.eot');
    src: url('./fonts/cerebrisans/cerebrisans-medium.eot?#iefix')
        format('embedded-opentype'),
      url('./fonts/cerebrisans/cerebrisans-medium.woff') format('woff'),
      url('./fonts/cerebrisans/cerebrisans-medium.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Cerebri Sans';
    font-weight: 700;
    font-style: normal;

    src: url('./fonts/cerebrisans/cerebrisans-semibold.eot');
    src: url('./fonts/cerebrisans/cerebrisans-semibold.eot?#iefix')
        format('embedded-opentype'),
      url('./fonts/cerebrisans/cerebrisans-semibold.woff') format('woff'),
      url('./fonts/cerebrisans/cerebrisans-semibold.ttf') format('truetype');
  }
