@import './variables';

:global(#background-app) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(16px);
  background-color: map-get($color-map, 'grey-lighter');
}

:global(#aztec-popup) {
  position: relative;
  width: $popup-width + $popup-page-spacing * 2;
  height: $popup-height + $popup-page-spacing * 2;
}

:global(#aztec-popup-ui) {
  display: none;
}

:global(#aztec-popup-ui),
:global(#aztec-popup-placeholder) {
  width: 100%;
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0 - map-get($spacing-map, 'm');
  left: 0;
  transform: translateY(100%);
}

@media all and (max-width: $popup-width + $popup-page-spacing * 2 - 1) {
  :global(#aztec-popup) {
    width: 100%;
    height: 100%;
  }
}

@font-face {
  font-family: 'Cerebri Sans';
  font-weight: 300;
  font-style: normal;

  src: url('./fonts/cerebrisans/cerebrisans-light.woff') format('woff'),
    url('./fonts/cerebrisans/cerebrisans-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Cerebri Sans';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/cerebrisans/cerebrisans-regular.eot');
  src: url('./fonts/cerebrisans/cerebrisans-regular.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/cerebrisans/cerebrisans-regular.woff') format('woff'),
    url('./fonts/cerebrisans/cerebrisans-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cerebri Sans';
  font-weight: 500;
  font-style: normal;

  src: url('./fonts/cerebrisans/cerebrisans-book.eot');
  src: url('./fonts/cerebrisans/cerebrisans-book.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/cerebrisans/cerebrisans-book.woff') format('woff'),
    url('./fonts/cerebrisans/cerebrisans-book.ttf') format('truetype');
}

@font-face {
  font-family: 'Cerebri Sans';
  font-weight: 600;
  font-style: normal;

  src: url('./fonts/cerebrisans/cerebrisans-medium.eot');
  src: url('./fonts/cerebrisans/cerebrisans-medium.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/cerebrisans/cerebrisans-medium.woff') format('woff'),
    url('./fonts/cerebrisans/cerebrisans-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Cerebri Sans';
  font-weight: 700;
  font-style: normal;

  src: url('./fonts/cerebrisans/cerebrisans-semibold.eot');
  src: url('./fonts/cerebrisans/cerebrisans-semibold.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/cerebrisans/cerebrisans-semibold.woff') format('woff'),
    url('./fonts/cerebrisans/cerebrisans-semibold.ttf') format('truetype');
}
