@font-face {
  font-family: 'Gill Sans';
  font-weight: 300;
  font-style: normal;
  src: url('./fonts/Gill Sans Nova Light.woff');
  src: url('./fonts/Gill Sans Nova Light.woff') format('woff');
}

@font-face {
  font-family: 'Gill Sans';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Gill Sans Nova.woff');
  src: url('./fonts/Gill Sans Nova.woff') format('woff');
}

@font-face {
  font-family: 'Gill Sans';
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/Gill Sans Nova Medium.woff');
  src: url('./fonts/Gill Sans Nova Medium.woff') format('woff');
}

@font-face {
  font-family: 'Gill Sans';
  font-weight: 600;
  font-style: normal;
  src: url('./fonts/Gill Sans Nova Bold.woff');
  src: url('./fonts/Gill Sans Nova Bold.woff') format('woff');
}

@font-face {
  font-family: 'Gill Sans';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/Gill Sans Nova Heavy.woff');
  src: url('./fonts/Gill Sans Nova Heavy.woff') format('woff');
}
