@import './variables';
@import './font-face';

:global(#aztec-popup-ui-app) {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: $default-font-family;
  text-align: center;
}

:global(.text-code) {
  font-family: $code-font-family;
}
