@import '../../styles/variables';

$separator-theme-color-map: (
    'white': $default-border-color,
    'primary': map-get($color-map, 'white-lighter'),
);

.separator {
  display: flex;
  align-items: center;
}

%line {
  flex: 1 1 auto;
  height: 1px;
}

$line-spacing: map-get($spacing-map, 'l');

.line-left {
  @extend %line;
  margin-right: $line-spacing;
}

.line-right {
  @extend %line;
  margin-left: $line-spacing;
}

@each $theme, $color in $separator-theme-color-map {
  .theme-#{$theme} {
    .line-left, .line-right {
      background: $color;
    }
  }
}
