@import './variables';
@import './decorators';
$default-font-family: 'Gill Sans', sans-serif;


$default-font-family: 'Gill Sans', sans-serif;

@font-face {
  font-family: 'Gill Sans';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/Gill Sans Nova Light.woff');
  src: url('/fonts/Gill Sans Nova Light.woff') format('woff');
}

@font-face {
  font-family: 'Gill Sans';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Gill Sans Nova.woff');
  src: url('/fonts/Gill Sans Nova.woff') format('woff');
}

@font-face {
  font-family: 'Gill Sans';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Gill Sans Nova Medium.woff');
  src: url('/fonts/Gill Sans Nova Medium.woff') format('woff');
}

@font-face {
  font-family: 'Gill Sans';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Gill Sans Nova Bold.woff');
  src: url('/fonts/Gill Sans Nova Bold.woff') format('woff');
}

@font-face {
  font-family: 'Gill Sans';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Gill Sans Nova Heavy.woff');
  src: url('/fonts/Gill Sans Nova Heavy.woff') format('woff');
}

html, body {
  font-family: $default-font-family !important;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height:100%; /*A value other than height:auto needs to be set*/
}

.react-reveal {
  z-index: 10;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  font-family: $default-font-family !important;
  line-height: 1;
  color: $default-text-color;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: $default-link-color;
}
